state-machine.json
{
  "Comment": "An example of the Amazon States Language using a choice state.",
  "StartAt": "CreateStack",
  "States": {
    "CreateStack": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:158369477098:function:deploy-lambda-CreateStackFunction-X3I5GSGTUZ04",
      "Next": "StackStatus"
    },
    "StackStatus": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:158369477098:function:deploy-lambda-DescribeStackFunction-4MX1V56IP7N4",
      "Next": "CheckStatus"
    },
    "Wait45Seconds": {
      "Type": "Wait",
      "Seconds": 45,
      "Next": "StackStatus"
    },
    "CheckStatus": {
      "Type" : "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "CREATE_COMPLETE",
          "Next": "ApplicationStatus"
        },
        {
          "Variable": "$.status",
          "StringEquals": "CREATE_IN_PROGRESS",
          "Next": "Wait45Seconds"
        }
      ],
      "Default": "DefaultState1"
    },
    "ApplicationStatus": {
      "Type" : "Task",
      "Resource": "arn:aws:lambda:us-east-1:158369477098:function:deploy-lambda-CheckApplicationStatusFunction-GHAE5CK2GKE7",
      "Next": "CheckAppicationStatus"
    },
    "DefaultState1": {
      "Type": "Fail",
      "Cause": "No Matches!"
    },
    "DefaultState2": {
      "Type": "Fail",
      "Cause": "No Matches!"
    },
    "DefaultState3": {
      "Type": "Fail",
      "Cause": "No Matches!"
    },
    "FailedState": {
      "Type": "Fail",
      "Cause": "The application failed the test!"
    },
    "CheckAppicationStatus": {
      "Type" : "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "SUCCESS",
          "Next": "DeleteStack"
        },
        {
          "Variable": "$.status",
          "StringEquals": "FAILURE",
          "Next": "FailedState"
        }
      ],
      "Default": "DefaultState2"
    },
    "DeleteStack": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:158369477098:function:deploy-lambda-DeleteStackFunction-82DAXJCMAVMW",
      "Next": "Wait10Seconds"
    },
    "Wait10Seconds": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "StackDeleteStatus"
    },
    "StackDeleteStatus": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:158369477098:function:deploy-lambda-DescribeStackFunction-4MX1V56IP7N4",
      "Next": "CheckDeleteStatus"
    },
    "CheckDeleteStatus": {
      "Type" : "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "DELETE_COMPLETE",
          "Next": "FinalState"
        },
        {
          "Variable": "$.status",
          "StringEquals": "DELETE_IN_PROGRESS",
          "Next": "Wait30Seconds"
        }
      ],
      "Default": "DefaultState3"
    },
    "Wait30Seconds": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "StackDeleteStatus"
    },
    "FinalState": {
      "Type": "Succeed"
    }
  }
}
